HTTP_PORT=8080                                    (port http - mandatory)
HTTP_PREFIX=/api/v1                               (prefix endpoint)
SOCKET_PORT=8081                                  (port websesocket - mandatory)
ORM_PERSISTENCE=eclipseLinkPersistence            (insert persistence orm - mandatory)
DB_URL=jdbc:h2:./src/main/resources/data/database (url database, that's h2 embedded - mandatory)
DB_USERNAME=admin                                 (user database - mandatory)
DB_PASSWORD=admin                                 (password database - mandatory)
JWT_SECRET=SINGVcB8Uj7zy0MlgXbl9MCIVr3vm          (example - mandatory)